.work-section {
  background-color: #fff;
  width: 100%;
  height: 400px;
  /* box-shadow: inset 0px 0px 15px rgba(0,0,0,0.9); */
}

.work-section p {
  padding: 8px;
  text-align: justify;
  color: #666;
  font-size: 12px;
}
